
{% block content %}
<div class="container-fluid mx-4 my-3">
    <h3>List {% if quizzes %}<small class="text-muted">({{ quizzes|length }}
            Quiz{{ quizzes|length|pluralize:"zes" }})</small>{% endif %}</h3>
    <hr>
    <br />
    {% if quizzes %}
        {% for quiz in quizzes %}
            <a href="{% url 'quiz-page' quiz.slug %}">{{ quiz.title }}</a>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-primary" role="alert">No pages to display.</div>
    {% endif %}
</div>
{% endblock %}